@media screen and (min-width: 50rem) {
  [data-has-hero] .hero {
    padding-block: clamp(2.5rem, calc(1rem + 10vmin), 2.5rem);
  }
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

[data-page-title] {
  font-size: 3rem;
}

.sidebar-content a:hover {
    background-color: var(--sl-color-accent-low);
    color: var(--sl-color-white);
}